APP_NAME=Social Rankings API
APP_ENV=local
APP_PORT=8000
LOG_LEVEL=INFO
RUN_MIGRATIONS_ON_STARTUP=true

DATABASE_URL=postgresql+psycopg://social_rankings:social_rankings@localhost:5432/social_rankings
API_KEY=767ge4j63d

AWS_REGION=us-east-1
AWS_SECRETS_MANAGER_DB_SECRET_ARN=
AWS_SECRETS_MANAGER_API_KEY_SECRET_ARN=
