alb_certificate_arn     = "arn:aws:acm:us-east-1:716525549892:certificate/replace-me"
db_name                 = "social_rankings"
db_username             = "social_rankings"
db_password             = "replace-me"
db_instance_class       = "db.t4g.micro"
api_key                 = "replace-me"
github_repository_owner = "swensor88"
github_repository_name  = "Social-Rankings-API"
github_prod_branch      = "main"
